<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>News</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'news/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'news/style.css' %}">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'news:index' %}">NEWS PAGE</a>
        </div>

        <ul class="nav navbar-nav">
            <li>
                <a href="{% url 'news:index' %}">ALL NEWS</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="{% url 'news:news-add' %}">Add news</a>
            </li>
        </ul>
    </div>
</nav>
{% block body%}

{% endblock %}
</body>
</html>