{% extends 'news/base.html' %}


{% block body %}
    <div class="container-fluid">
        <div class="row">
            <!-- Left Album Info -->
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img src="{{ news.image.url }}" class="img-responsive">
                        <h1>{{ news.title }}
                        </h1>
                        <h2>{{ news.text }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}