{% extends 'news/base.html' %}

{% block body %}
    {% if all_news %}
        {% for news in all_news %}
            <div class="col-md-2">
                <div class="thumbnail">
                    <a href="{% url 'news:detail' news.id %}">
                        <img src="{{ news.image.url }}" class="img-responsive">
                    </a>
                    <div class="caption">
                        <h2>{{ news.title }}</h2>
                        <h4>{{ news.short_text }}</h4>

                        <!-- View Details -->
                        <a href="{% url 'news:detail' news.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h3>You dont have news</h3>
    {% endif %}
{% endblock %}